/* src/App.css */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  margin: 30px auto;
  padding: 20px;
  width: 350px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
  text-align: center;
}

.inc-exp-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.money {
  font-size: 20px;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list li {
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 0;
  border-right: 5px solid;
}

.list li.plus {
  border-color: #2ecc71;
}

.list li.minus {
  border-color: #c0392b;
}

.delete-btn {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 5px 7px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #c0392b;
}

.form-control {
  margin: 20px 0;
}

.form-control input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #27ae60;
}
